<div class="container-fluid">
  <app-journal-search></app-journal-search>
  <br>
  <table class=" table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Id</th>
        <th>Date</th>
        <th>Total</th>
        <th>Transaction type</th>
        <th>Action</th>
      </tr>
    </thead>
    <br>
    <tbody>
      <tr *ngFor="let basketHeader of basketHeaders; let i = index">
        <td> {{ i+1 }} </td>
        <td> {{ basketHeader.id }} </td>
        <td> {{ basketHeader.basketDate | date }} </td>
        <td> {{ basketHeader.sumTotal }} </td>
        <td> {{ basketHeader.transactionType | titlecase }} </td>
        <td>
          <button class="btn btn-sm btn-warning" routerLink="./{{basketHeader.id}}">Return</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
