<div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Transaction Component</h5>
            <p class="card-text">Start a sale transaction</p>
            <a routerLink="/sales" class="btn btn-primary">Sale</a>
            <a routerLink="/return" class="btn btn-primary">Return</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title">Journal Component</h5>
            <p class="card-text">Show the journals</p>
            <a routerLink="/journals" class="btn btn-primary">Show journals</a>
            <a routerLink="/sales/receipt" class="btn btn-primary">Show last receipt</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Cash drawer Component</h5>
            <p class="card-text">Show the cashdrawer's balance or do a cash up.</p>
            <a routerLink="/cashdrawers" class="btn btn-primary">Show balance</a>
            <a routerLink="/cashdrawers/cashup" class="btn btn-primary">Cash up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
